/*----------  WYSIWYG Editor Page -----------*/
.spdfi_wysiwyg_container
{
	width:200px;
}

div#container{width: 500px; margin:0 auto}
p{margin: 0 0 1.7em; }

/*---------- bubble tooltip -----------*/
a.tt{
    position:relative;
    z-index:24;
    color:#3CA3FF;
	font-weight:bold;
    text-decoration:none;
}
a.tt span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt:hover{ z-index:25; color: #aaaaff; background:;}
a.tt:hover span.tooltip{
	display:block;
	position:absolute;
	top:0px;
	left:0;
	padding: 15px 0 0 0;
	width:200px;
	color: #00F;
	text-align: center;
	filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
}
a.tt:hover span.top{
	display: block;
	padding: 30px 8px 0;
    background: url(images/bubble.gif) no-repeat top;
}
a.tt:hover span.middle{ /* different middle bg for stretch */
	display: block;
	padding: 0 8px; 
	background: url(images/bubble_filler.gif) repeat bottom; 
}
a.tt:hover span.bottom{
	display: block;
	padding:3px 8px 10px;
	color: #548912;
    background: url(images/bubble.gif) no-repeat bottom;
}

/*  SMALL MESSAGE BOXES START */
.infoSmall, .successSmall, .warningSmall, .errorSmall, .validationSmall, 
.questionSmall, .processingSmall, .restrictedSmall, .stopSmall {  
	margin: 10px 0px; /* top and bottom */ 
	padding:15px 10px 15px 60px;  
	background-repeat: no-repeat;  
	background-position: 10px center; 
	display: block;
	font-size:18px;
}

.infoSmall{  
	color: #00529B;  
	background-color: #BDE5F8;  
	background-image: url(images/info_small.png);  
	border: 5px solid #86CFF2;
}  

.successSmall{  
	color: #4F8A10;  
	background-color: #DFF2BF;  
	background-image:url(images/success_small.png);  
	border: 5px solid #C4E789;
}  

.warningSmall{  
	color: #9F6000;  
	background-color: #FEEFB3;  
	background-image: url(images/warning_small.png);  
	border: 5px solid #FDE06C;
} 

.errorSmall{  
	color: #D8000C;  
	background-color: #FFBABA;  
	background-image: url(images/error_small.png);  
	border: 5px solid #FF7979;
}  

.questionSmall{  
	color: #00529B;  
	background-color: #BDE5F8;   
	background-image: url(images/question_small.png);  
	border: 5px solid #86CFF2;
}

.processingSmall{  
	color: #4F8A10;  
	background-color: #DFF2BF;   
	background-image:url(images/processing_small.png);  
	border: 5px solid #C4E789;
} 

.stopSmall{  
	color: #D8000C;  
	background-color: #FFBABA;  
	background-image:url(images/stop_small.png);  
	border: 5px solid #FF7979;
}  
/*  SMALL MESSAGE BOXES FINISH */
/* LARGE MESSAGE BOXES START */

.infoLarge, .successLarge, .warningLarge, .errorLarge, .validationLarge, 
.questionLarge, .processingLarge, .restrictedLarge, .stopLarge {  
	margin: 10px 0px; /* top and bottom */ 
	padding:43px 20px 43px 115px;  
	background-repeat: no-repeat;  
	background-position: 10px center; 
	display: block;
	font-size:18px;
}

.infoLarge{  
	color: #00529B;  
	background-color: #BDE5F8;  
	background-image: url(images/info_large.png);  
	border: 5px solid #86CFF2;
}  

.successLarge{  
	color: #4F8A10;  
	background-color: #DFF2BF;  
	background-image:url(images/success_large.png);  
	border: 5px solid #C4E789;
}  

.warningLarge{  
	color: #9F6000;  
	background-color: #FEEFB3;  
	background-image: url(images/warning_large.png);  
	border: 5px solid #FDE06C;
} 

.errorLarge{  
	color: #D8000C;  
	background-color: #FFBABA;  
	background-image: url(images/error_large.png);  
	border: 5px solid #FF7979;
}  

.questionLarge{  
	color: #00529B;  
	background-color: #BDE5F8;   
	background-image: url(images/question_large.png);  
	border: 5px solid #86CFF2;
}

.processingLarge{  
	color: #4F8A10;  
	background-color: #DFF2BF;   
	background-image:url(images/processing_large.png);  
	border: 5px solid #C4E789;
} 

.stopLarge{  
	color: #D8000C;  
	background-color: #FFBABA;  
	background-image:url(images/stop_large.png);  
	border: 5px solid #FF7979;
}  

/* LARGE MESSAGE BOXES END */

/* EXTRA MESSAGE BOXES START */

.infoExtra, .successExtra, .warningExtra, .errorExtra, .validationExtra, 
.questionExtra, .processingExtra, .restrictedExtra, .stopExtra {  
	margin: 10px 0px; /* top and bottom */ 
	padding:30px 20px 30px 20px;  
	background-repeat: no-repeat;  
	background-position: 10px center; 
	display: block;
	font-size:18px;
}

.infoExtra{  
	color: #004380;  
	background-color: #BDE5F8;  
	background-image: url(images/info_extra.png);  
	border: 5px solid #86CFF2;
}  

.successExtra{  
	color: #3D690C;  
	background-color: #DFF2BF;  
	background-image:url(images/success_extra.png);  
	border: 5px solid #C4E789;
}  

.warningExtra{  
	color: #794800;  
	background-color: #FEEFB3;  
	background-image: url(images/warning_extra.png);  
	border: 5px solid #FDE06C;
} 

.errorExtra{  
	color: #A60009;  
	background-color: #FFBABA;  
	background-image: url(images/error_extra.png);  
	border: 5px solid #FF7979;
}  

.questionExtra{  
	color: #003C71;  
	background-color: #BDE5F8;   
	background-image: url(images/question_extra.png);  
	border: 5px solid #86CFF2;
}

.processingExtra{  
	color: #39630C;  
	background-color: #DFF2BF;   
	background-image:url(images/processing_extra.png);  
	border: 5px solid #C4E789;
} 

.stopExtra{  
	color: #930007;  
	background-color: #FFBABA;  
	background-image:url(images/stop_extra.png);  
	border: 5px solid #FF7979;
}  